global_params:
  working_dir: cache

nodes:
  - id: read
    op_name: read
    type: source
    dependencies: []
    params:
      input_path:
        - resources/input_examples/json_demo.json

  - id: chunk
    op_name: chunk
    type: map_batch
    dependencies:
      - read
    params:
      chunk_size: 1024
      chunk_overlap: 100

  - id: build_kg
    op_name: build_kg
    type: map_batch
    dependencies:
      - chunk

  - id: partition
    op_name: partition
    type: aggregate
    dependencies:
      - build_kg
    params:
      method: dfs
      method_params:
        max_units_per_community: 1

  - id: generate
    op_name: generate
    type: map_batch
    dependencies:
      - partition
    params:
      method: atomic
      data_format: Alpaca
