include requirements.txt
include graphgen/configs/*.yaml
recursive-include graphgen/configs *.yaml
recursive-include graphgen/templates/profiles *.json
recursive-include graphgen/templates/event_profiles *.json *.txt
