tqdm~=4.67.1
openai~=1.99.1
python-dotenv~=1.0.1
numpy~=2.2.6
networkx~=3.4.2
graspologic
tiktoken~=0.8.0
pyecharts~=2.0.7
wikipedia~=1.4.0
tenacity~=9.0.0
nltk~=3.9.1
jieba~=0.42.1
plotly~=5.24.1
pandas~=2.2.3
gradio>=5.44.1
kaleido
pyyaml~=6.0.2
langcodes~=3.4.1
requests~=2.32.4
fastapi~=0.115.6
trafilatura~=2.0.0
gensim~=4.4.3

leidenalg~=0.10.2
igraph~=0.11.9
python-louvain

# For visualization
matplotlib~=3.10.7

pytest~=8.4.1
rich~=13.9.4
aiohttp~=3.12.9
biopython~=1.85
transformers~=4.57.1
torch~=2.8.0
setuptools~=75.1.0