global_params:
  working_dir: cache
  graph_backend: kuzu # graph database backend, support: kuzu, networkx
  kv_backend: rocksdb # key-value store backend, support: rocksdb, json_kv

nodes:
  - id: read_files
    op_name: read
    type: source
    dependencies: []
    params:
      input_path:
        - examples/input_examples/protein_qa_demo.json # input file path, support json, jsonl, txt, pdf. See examples/input_examples for examples

  - id: chunk_documents
    op_name: chunk
    type: map_batch
    dependencies:
      - read_files
    execution_params:
      replicas: 4
    params:
      chunk_size: 1024 # chunk size for text splitting
      chunk_overlap: 100 # chunk overlap for text splitting

  - id: build_kg
    op_name: build_kg
    type: map_batch
    dependencies:
      - chunk_documents
    execution_params:
      replicas: 1
      batch_size: 128

  - id: partition
    op_name: partition
    type: aggregate
    dependencies:
      - build_kg
    params:
      method: anchor_bfs # partition method
      method_params:
        anchor_type: protein # node type to select anchor nodes
        max_units_per_community: 10 # atomic partition, one node or edge per community

  - id: generate
    op_name: generate
    type: map_batch
    dependencies:
      - partition
    execution_params:
      replicas: 1
      batch_size: 128
    params:
      method: protein_qa # atomic, aggregated, multi_hop, cot, vqa, protein_qa
      data_format: ChatML # Alpaca, Sharegpt, ChatML
